(\/)
(O.O)/)
((")(")
-_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-
vscode
.DS_Store
._*
*.o
*.a
ft_ssl
-_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-  -_---_-_-
